@charset "UTF-8";

@import 'reset';
@import 'variables';

@mixin mobile{
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}){
    @content;
  }
}

@mixin tablet{
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}){
    @content;
  }
}

@mixin desktop{
  @media (min-width: #{$breakpoint-desktop}){
    @content;
  }
}

@mixin mixTabletDeskTop{
  @media (min-width: #{$breakpoint-tablet}){
    @content;
  }
}

h1{position: relative; font-size: 0.8rem; padding: 20px 20px 5px 20px;}
// slider_opacity
.slider_opacity{
  width: 100%;
  .slider_list{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    .slider_item{
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      top: 0;
      z-index: 0;
      opacity: 0;
      transition: all .5s ease-in-out;
      &:nth-child(odd) {
        background-color: #8e44ad;
      }
      &:nth-child(even) {
        background-color: #3498db;
      }
    }
    .showing{
      opacity: 1;
      z-index: 1;
    }
  }
}

// slider_move
.slider_move{
  width: 100%;
  .slider_list{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .5s ease-in-out;
    .slider_item{
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      top: 0;
      z-index: 0;
      opacity: 0;
    }
    .slider_item:nth-child(odd){
      background-color: #8e44ad;
    };
    .slider_item:nth-child(even){
      background-color: #3498db;
    }
    .showing{
      opacity: 1;
      z-index: 1;
    }
  }
}
.name{
  position: absolute; top: 20px; right: 20px; font-size: 0.8rem; text-align: right;
}
//tabs
.tabs{
  width: 100%;
  .tab-menu{
    display: flex;
    margin: 0 10px;
    border-top: 1px solid $c-black;
    border-bottom: 1px solid $c-grey;
    > li{
      position: relative;
      flex: 1;
      font-size: 1rem;
      text-align: center;
      transition: all 0.5s;
      button{
        display: block;
        width: 100%;
        padding: 14px 10px;
        line-height: 1;
        font-weight: bold;
      }
      button:disabled{
        color:#333
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 1px;
        height: 1rem;
        margin-top: -0.5rem;
        background-color: $c-grey;
      }
      &:first-child:before {
        display: none;
      }
    }
    > li.active{
      background-color: $c-black;
        button{
          color: white;
        }
    }
  }
  .tab-cont{
    margin: 0 10px;
    padding: 15px 15px 10px 15px;
    border-bottom: 1px solid $c-grey;
    > li{
      display: none;
      ul.list-content{
        li{position: relative; margin-bottom: 10px;
          strong, span{
            display: inline-block;
            padding-right: 10px;
          }
        }
      }
    }
    > li.active{
      display: block;
    }
  }
}

@include mixTabletDeskTop{
  ul.list-content{
    display: flex;
    flex-wrap: wrap;
    li{
      flex: 1 1 40%;
      padding-left: 10px;
      &:nth-child(2n):before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 1px;
        height: 1rem;
        margin-top: -0.5rem;
        background-color: $c-grey;
        border-left: $c-black;
      }
    }
  }
}